
boxFilterCuda.vcxproj
boxFilterCuda.vcxproj.filters
boxFilterCuda.vcxproj.user
main.cpp
Mars_Rover.jpg
Mars_Rover_blur9.png
Mars_Rover_laplace5.png
sunrise_blur9.png
sunrise_laplace5.png
sunrise_sunset.jpg
timer.h
x64/Debug/boxFilterCuda.Build.CppClean.log
x64/Debug/boxFilterCuda.exe.recipe
x64/Debug/boxFilterCuda.log
x64/Debug/boxFilterCuda.tlog/boxFilterCuda.lastbuildstate
x64/Debug/boxFilterCuda.tlog/boxFilterCuda.write.1u.tlog
x64/Debug/boxFilterCuda.tlog/CL.command.1.tlog
x64/Debug/boxFilterCuda.tlog/CL.read.1.tlog
x64/Debug/boxFilterCuda.tlog/CL.write.1.tlog
x64/Debug/boxFilterCuda.tlog/CudaCompile.read.1u.tlog
x64/Debug/boxFilterCuda.tlog/CudaCompile.write.1u.tlog
x64/Debug/boxFilterCuda.tlog/link.command.1.tlog
x64/Debug/boxFilterCuda.tlog/link.read.1.tlog
x64/Debug/boxFilterCuda.tlog/link.write.1.tlog
x64/Debug/boxFilterCuda.vcxproj.FileListAbsolute.txt
x64/Debug/func.cu.cache
x64/Debug/func.cu.obj
x64/Debug/func.cu1063782260.deps
x64/Debug/func.cu1637550794.deps
x64/Debug/kernel.cu-509154057.deps
x64/Debug/main.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
boxFilterCuda.vcxproj
boxFilterCuda.vcxproj.filters
boxFilterCuda.vcxproj.user
main.cpp
Mars_Rover.jpg
Mars_Rover_blur9.png
Mars_Rover_laplace5.png
sunrise_blur9.png
sunrise_laplace5.png
sunrise_sunset.jpg
timer.h
x64/Debug/boxFilterCuda.Build.CppClean.log
x64/Debug/boxFilterCuda.exe.recipe
x64/Debug/boxFilterCuda.log
x64/Debug/boxFilterCuda.tlog/boxFilterCuda.lastbuildstate
x64/Debug/boxFilterCuda.tlog/boxFilterCuda.write.1u.tlog
x64/Debug/boxFilterCuda.tlog/CL.command.1.tlog
x64/Debug/boxFilterCuda.tlog/CL.read.1.tlog
x64/Debug/boxFilterCuda.tlog/CL.write.1.tlog
x64/Debug/boxFilterCuda.tlog/CudaCompile.read.1u.tlog
x64/Debug/boxFilterCuda.tlog/CudaCompile.write.1u.tlog
x64/Debug/boxFilterCuda.tlog/link.command.1.tlog
x64/Debug/boxFilterCuda.tlog/link.read.1.tlog
x64/Debug/boxFilterCuda.tlog/link.write.1.tlog
x64/Debug/boxFilterCuda.vcxproj.FileListAbsolute.txt
x64/Debug/func.cu.cache
x64/Debug/func.cu.obj
x64/Debug/func.cu1063782260.deps
x64/Debug/func.cu1637550794.deps
x64/Debug/kernel.cu-509154057.deps
x64/Debug/main.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
boxFilterCuda.vcxproj
boxFilterCuda.vcxproj.filters
*.vcxproj
*.filters
*.user
*.cpp
*.jpg
boxFilterCuda.vcxproj
boxFilterCuda.vcxproj.filters
boxFilterCuda.vcxproj.user
main.cpp
Mars_Rover.jpg
Mars_Rover_blur9.png
Mars_Rover_laplace5.png
sunrise_blur9.png
sunrise_laplace5.png
sunrise_sunset.jpg
timer.h
x64/Debug/boxFilterCuda.Build.CppClean.log
x64/Debug/boxFilterCuda.exe.recipe
x64/Debug/boxFilterCuda.log
x64/Debug/boxFilterCuda.tlog/boxFilterCuda.lastbuildstate
x64/Debug/boxFilterCuda.tlog/boxFilterCuda.write.1u.tlog
x64/Debug/boxFilterCuda.tlog/CL.command.1.tlog
x64/Debug/boxFilterCuda.tlog/CL.read.1.tlog
x64/Debug/boxFilterCuda.tlog/CL.write.1.tlog
x64/Debug/boxFilterCuda.tlog/CudaCompile.read.1u.tlog
x64/Debug/boxFilterCuda.tlog/CudaCompile.write.1u.tlog
x64/Debug/boxFilterCuda.tlog/link.command.1.tlog
x64/Debug/boxFilterCuda.tlog/link.read.1.tlog
x64/Debug/boxFilterCuda.tlog/link.write.1.tlog
x64/Debug/boxFilterCuda.vcxproj.FileListAbsolute.txt
x64/Debug/func.cu.cache
x64/Debug/func.cu.obj
x64/Debug/func.cu1063782260.deps
x64/Debug/func.cu1637550794.deps
x64/Debug/kernel.cu-509154057.deps
x64/Debug/main.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
